{% extends 'base.html' %}
{% block title %}Страница администратора{% endblock title %}

{% block content %}
    {% include 'menu_moderator.html'%}
    <div class="container mt-5">
        
        <a href="{% url "moderator:create_book"%}">Создать</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Название</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Цена</th>
                    <th scope="col">isbn</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for ad in books %}
                <tr>
                    <th scope="row">{{ad.pk}}</th>
                    <td>{{ad.title}}</td>
                    <td>{{ad.Author}}</td>
                    <td>{{ad.price}}</td>
                    <td>{{ad.isbn}}</td>
                    <td>
                        <a href="{% url "moderator:edit_book" ad.id %}">Редактировать</a>
                        <a href="{% url "moderator:delete_book" ad.id %}">Удалить</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} 