{% extends 'base.html' %}
{% block title %}Страница менеджера{% endblock title %}

{% block content %}
<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Заказчик</th>
                <th scope="col">Состав заказа</th>
            </tr>
        </thead>
        {% for order in orders %}
        
        <tr>
            <th scope="row"><p>{{order.id}}</p></th>
            <td><p>{{order.customer}}</p></td>
            <td>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample{{order.pk}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Подробнее</a>

            </td>

            <td>
                <div class="collapse multi-collapse" id="multiCollapseExample{{order.pk}}">
                    <div class="card card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Название книги</th>
                                    <th scope="col">Количество книг</th>
                                </tr>
                            </thead>
                            {% for book in books %}
                            <tr>
                                {% if book.order == order %}
                                <th scope="row"><p>{{book.book.pk}}</p></th>
                                <td><p>{{book.book.title}}</p></td>
                                <td><p>{{book.quantity}}</p></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </td>

            {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}