
<div class="col-3 mt-3">
    <div class="card shadow-sm">
        <img class="d-block w-100" src="../../media/{{ad.photo}}">
        <div class="card-body">
            <h5 class="card-text"><b>{{ad.title}}</b></h5>
            <div class="d-flex justify-content-between align-items-center">
                <form class="btn-group" method="get" name="">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'news_info' ad.pk %}">Читать</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>