{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-9">
        <h1 class="text-secondary">Новые книги</h1>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2  g-3">
            {% for ad in books %}
            {% include 'book_card.html' %}
            {% endfor %}
        </div>
        <br />
    </div>
        <div class="col-4">
            <!--Место для правого меню-->
        </div>
    </div>
{% endblock %}