{% extends 'base.html' %}
{% block title %}Профиль{% endblock title %}
{% block content %}
    {% for moder in moder %}
    <div class="container mt-5">
        <div class="row">
            <div class="col col-lg-3">
                <img class="d-block w-100 border border-5" src="../../../media/{{moder.photo}}">
            </div>
            <div class="col-5">
                <h1>{{user}}</h1>
            </div>
        </div>
    </div>
        {% if user.is_staff %}
            <div> <a class="nav-link px-2 link-secondary" href="{% url 'moderator:moderator_main' %}">Страница администратора</a></div>
        {% endif %}
    {% endfor %}
{% endblock %}
